.menu {
  width: 80%;
  height: 85px;
  font-size: 20px;
  position: sticky;
  top: 10px;
  padding: 10px 15px;
  list-style-type: none;
  background-color: #333;
  vertical-align: middle;
  z-index: 5;

  display: flex;
  align-items: center;

  /*///fazer os nomes ficar proximos da logo/// deixar tudo alinhado///*/
}

#itens-lista {
  display: flex;
  justify-content: flex-start;
}

li {
  float: left;
  display: inline-block;
  vertical-align: top;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  padding-left: 10px;
  margin-left: 3vw;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.barra {
  align-content: center;
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 20%;
  height: 100%;
  margin-left: 10px;

}