@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


/*-------menu superior*/
.menu {
  width: 100%;
  font-size: 20px;
  position: sticky;
  top: 16px;
  list-style-type: none;
  background-color: #292b3f;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 8px 0 8px 0;
}

#itens-lista {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dropbtn {
  line-height: 60px;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 144px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

.dropdown-content a {
  color: #292b3f;
  font-size: 0.8em;
  padding: 2px 6px;
  text-decoration: none;
  font-weight: normal;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn:hover { background-color: #7cbbef; }

li {
  display: inline-block;
  font-weight: bold;
}

li a, .dropbtn {
  text-decoration: none;
  line-height: 60px;
  color: #ffb223;
}

/*-------- Informações mouse over dos Slides---------*/
.imgefeito {
    margin: 0;
    overflow: hidden;
    float: left;
    position: relative;
}
.imgefeito a {
    text-decoration: none;
    float: left;
}
.imgefeito a:hover {
    cursor: pointer;
} 
.imgefeito a img {
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
} 
.imgefeito a:hover .desc{
    display: block;
    font-size: 1.2em;
    padding: 10px 0;
    background: #111;
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* tranparencia do card*/
    color: #fff;
    position: absolute;
    bottom: 11px;
    left: 11px;
    padding: 10px;
    margin: 0;
    width: 615px;
    border-top: 1px solid #999;
}
.imgefeito a:hover .desc strong {
    display: block;
    margin-bottom: 5px;
    font-size:1.5em;
}

/*-------- DIV mãe do corpo incluindo coluna esquerda e dereita---*/
main {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 1600px;
  margin-top: 20px;
}

.top {
  width:90%;
  font-size: 20px;
  background: #292b3f;
  color: #fff;
  margin: 20px 0 20px;
}

.top > * {
  margin: 0;
}

/* Carrosel */

.carousel, .carousel-control, .imgcarro {
  border-radius: 15px;
}

.imgcarro{
  width:100%;
}

/*---------------------cartões flips*/

.imgcard{
  box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.4);
  width:265px;
  height:170px;
}

.card-container{
 margin-top: 4vh;
 margin-left: 1.2vh;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 margin-left: 1vw;
}

.flip-card {
  box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.4);
  margin: 6px;
  width: 265px;
  height: 170px;
  perspective: 800px;
  margin: 0 8px 16px 8px;
}

.flip-card:hover {
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 15px;
}

.flip-card-front > img {
  border-radius: 15px;
}

.flip-card-back {
  background-color: #e5e5e5;
  color: #292b3f;
  transform: rotateY(180deg);
  padding: 4px;
  border-radius: 15px;
}

/*----------Textos dos Tops*/
.barra {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #292b3f;
  width: 20%;
  height: 95%;
}

.table {
  background: white;
  border-radius: 15px;
}

td a {
  color: #292b3f;
  text-decoration: none;
}
th{
  color: #292b3f;
  text-align: center;
}
td{
  font-size: 1vw;
}

/*------ Corpo principal A esqueda*/
.container-informacao {
  position: absolute;
  left: 0;
  background-color: #292b3f;
  color: white;
  width: 79%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.notas {
  text-align: right;
}

hr {
  color: white;
  margin: 20px 0 20px 0;
}

iframe {
  width: 100%;
  height: 520px;
}

/*--------------ScreenShots*/
.screenshots {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.screenshots > img {
  padding: 8px;
  max-width: 30%;
  border-radius: 15px;
}

/*-----------fazer a imagem crescer*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.8;}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* ------Animação de zoom*/
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*---------Review---*/
.panel-body{
  color: #292b3f;
}
.panel {
  background: #e5e5e5;
  border: none;
  font-size: 20px;
}

.panel > a {
  color: #292b3f;
  text-decoration: none;
}

.review {
  margin-top: 40px;
  margin-bottom: 120px;
}


/*--------- Textos do Site Todo--------*/
p, tr, {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.1em;
}

.dropbtn,
th,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}


/*-----------------rodapé*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #292b3f;
  color: #ffb223;
  text-align: center;
  box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
  margin-top: 20%;
}

footer > a {
  text-decoration: none;
  color: #ffb223;
  border: 1px #292b3f;
  border-radius: 5px;
}

footer > a:hover { color: #7cbbef; }


/* Âncora de voltar para o início */
#retornar {
  position: fixed;
  right: 8px;
  bottom: 48px;
  background: #292b3f;
  width: 64px;
  height: 48px;
  text-align: center;
  border: 1px solid #292b3f;
  border-radius: 5px;
}

#retornar > a {
  font-size: 24px;
  padding: 12px 0 12px 0;
  color: #7cbbef;
}

#retornar > a:hover { color: #7cbbef; text-decoration: none; }